.m-main-wrapper {
  @media (max-width: $screen-xs-max) {
      padding: 0;
      .col-sm-10 {
        margin: 0;
      }
  }

  .card-wrapper {
      display: flex;
      flex-wrap: wrap;
  }
  .limited-card {
      .caption h3 {
          margin: 0 !important;
      }
  }
  .card-footer {
      display: flex;
      height: 35px;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 350px) {
          //flex-direction: column;
          height: 100%;
      }
      @media (max-width: 991px) and (min-width: 768px) {
          flex-direction: column;
          height: 100%;
      }
      p {
          margin: 0;
      }
      .footer-btns {
          display: flex;
          .open-map-btn {
              border: none;
              background-color: $green;
              .fa {
                  color: #fff;
              }
          }
          .card-details-btn {
              border: none;
              background-color: $orange;
              a {
                  color: #fff;
              }
          }
      }
  }
}
