.m-main-wrapper {
  @media (max-width: $screen-xs-max) {
      padding: 0;
      .col-sm-10 {
        margin: 0;
      }
  }

  .card-wrapper {
      display: flex;
      flex-wrap: wrap;
  }
  .limited-card {
      .caption h3 {
          margin: 0 !important;
      }
  }
  .card-footer {
      display: flex;
      height: 35px;
      justify-content: space-between;
      align-items: center;

      .card-info {
        display: flex;
        justify-content: space-between;
        width: 55%;

        @media (max-width: 500px) {
          display: flex;
          flex-direction: column;
        }
        @media (min-width: 768px) and (max-width: 992px) {
          display: flex;
          flex-direction: column;
        }
      }
      p {
          margin: 0;
      }
      .footer-btns {
          display: flex;
          .open-map-btn {
              border: none;
              background-color: #ccc;
              .fa {
                  color: #fff;
              }
          }
          .card-details-btn {
              border: none;
              background-color: #ccc;
              a {
                  color: #fff;
              }
          }
      }
  }
}
