.m-header-category-wrapper {
    .e-category-line {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .e-category-item {
            line-height: 60px;
            display: flex;
            min-width: 25%;
            min-height: 60px;
            border: 1px solid $btn-border-color;
            border-bottom: none;
            border-left: none;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            &:hover {
                background-color: $grey;
            }
            @media (min-width: $screen-lg-min) {
                min-width: 16.666%;
            }
            @media (max-width: 768px) and (min-width: 420px) {
                min-width: 50%;
            }
            @media (max-width: $screen-sm-min) {
                flex-direction: column;
                width: 100%;
                .category-desc {
                  line-height: 20px;
                  display: block !important;
                  order: 2;
                }
            }
            img {
                width: 25px;
                height: 25px;
                @media (max-width: $screen-sm-min) {
                    width: 20px;
                    height: 20px;
                }
            }
            .category-hash, .category-desc {
              display: none;
            }
        }
    }
    .e-category-first-line {
        margin-top: 15px;
    }
}
