.m-header-category-wrapper {
    .e-category-line {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .e-category-item {
            line-height: 60px;
            display: flex;
            min-width: 25%;
            min-height: 60px;
            border: 1px solid $btn-border-color;
            border-bottom: none;
            border-left: none;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            &:hover {
                background-color: $grey;

                img {
                  opacity: 0.2;
                  display: none;
                  transition: opacity;
                }

                .category-desc {
                  display: inline-block;
                  min-width: 25%;
                  overflow: hidden;
                  line-height: 100%;
                  top: 100px;
                }
            }
            @media (min-width: $screen-lg-min) {
                min-width: 16.666%;
            }
            img {
                width: 25px;
                height: 25px;
                @media (max-width: $screen-sm-min) {
                    width: 20px;
                    height: 20px;
                }
            }
            .category-hash, .category-desc {
              display: none;
            }
            .maintenance-icon {
                background-image: url('../img/icons/Maintenance-40.png');
            }
        }
    }
    .e-category-first-line {
        margin-top: 15px;
    }
}
