.m-header-category-wrapper {
    .e-category-line {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .e-category-item {
            line-height: 60px;
            display: flex;
            min-width: 25%;
            min-height: 60px;
            border: 1px solid $btn-border-color;
            border-bottom: none;
            border-left: none;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            &:hover {
                background-color: $grey;
            }
            @media (min-width: $screen-lg-min) {
                min-width: 16.666%;
            }
            .icon {
                display: block;
                width: 40px;
                height: 40px;
                background-size: cover;
                @media (max-width: $screen-sm-min) {
                    width: 30px;
                    height: 30px;
                }
            }
            .maintenance-icon {
                background-image: url('../img/icons/Maintenance-40.png');
            }
        }
    }
    .e-category-first-line {
        margin-top: 15px;
    }
}
