
.m-details-wrapper {
    margin-top: 20px;
    textarea {
        height: 140px;
        resize: none;
        @media (max-width: $screen-sm-max) {
            height: 280px;
        }
        @media (max-width: $screen-xs-max) {
            height: 280px;
        }
        &:focus {
          //box-shadow: none !important;
        }
    }
    .m-details-btn-wrapper {
        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .icon {
            width: 40px;
            height: 40px;
            background-size: cover;
            @media (max-width: $screen-sm-min) {
                width: 25px;
                height: 25px;
            }
        }
        .btn:hover {
            background-color: $grey;
        }
        .top-send-btn {
            .btn {
                display: flex;
                height: 70px;
                padding-bottom: 5px;
                color: #000;
                border: 1px solid $btn-border-color;
                border-bottom: none;
                border-left: none;
                align-items: center;
                justify-content: center;
                .send {
                    font-size: 24px;
                    padding-right: 12px;
                    @media (max-width: $screen-sm-min) {
                        display: none;
                    }
                }
                .paper-plane-icon {
                    background-image: url('../img/icons/Plane-40.png');
                }
            }
        }
        .bottom-details-wrapper {
            .btn {
              line-height: 70px;
              height: 70px;
            }
            .map-icon {
                background-image: url('../img/icons/Marker-40.png');
            }
            .calendar-icon {
                background-image: url('../img/icons/Calendar-40.png');
            }
            .upload-icon {
                background-image: url('../img/icons/Camera-40.png');
            }
            .map-details-btn {

                border: 1px solid $btn-border-color;
                border-left: none;
                @media (max-width: $screen-sm-max) {
                    border-bottom: 1px solid $btn-border-color;
                }
            }
            .calendar-details-btn {
                border: 1px solid $btn-border-color;
                border-left: none;
                @media (max-width: $screen-sm-max) {
                    border-top: none;
                    border-bottom: 1px solid $btn-border-color;
                }
            }
            .image-details-btn {
                border-top: 1px solid $btn-border-color;
                border-right: 1px solid $btn-border-color;
                border-bottom: 1px solid $btn-border-color;
                @media (max-width: $screen-sm-max) {
                    border-top: none;
                }
            }
        }
    }
}
