.help {
    font-family: 'Marck Script', cursive;
    font-size: 24px;
    position: absolute;
    display: none;
}
.arrow {
    position: absolute;
    display: none;
    background-repeat: no-repeat;
    background-size: contain;
}
.help1 {
    position: absolute;
    top: -30px;
    left: -65px;
    width: 100px;
}
.arrow1 {
    top: 40px;
    left: -40px;
    width: 50px;
    height: 50px;
    background-image: url('../img/arrow-help1.png');
}
.help2 {
    top: -40px;
    left: -65px;
}
.arrow2 {
    position: absolute;
    left: -40px;
    width: 50px;
    height: 50px;
    background-image: url('../img/arrow-help2.png');
}
.help3 {
    top: -40px;
    left: -250px;
}
.arrow3 {
    position: absolute;
    top: -20px;
    left: -60px;
    width: 70px;
    height: 300px;
    background-image: url('../img/arrow-help3.png');
}
.help4 {
    top: 110px;
    right: -180px;
}
.arrow4 {
    position: absolute;
    top: 125px;
    right: -40px;
    width: 200px;
    height: 300px;
    background-image: url('../img/arrow-help4.png');
}
.help5 {
    top: 40px;
    right: -180px;
}
.arrow5 {
    position: absolute;
    right: -60px;
    width: 70px;
    height: 300px;
    background-image: url('../img/arrow-help5.png');
}
.help6 {
    top: -40px;
    right: -60px;
}
.arrow6 {
    right: -30px;
    width: 33px;
    height: 50px;
    background-image: url('../img/arrow-help6.png');
}
.help-hide {
    top: -10px;
    left: 130px;
    color: #333;
}
.arrow-hide {
    top: -5px;
    left: 40px;
    width: 70px;
    height: 50px;
    background-image: url('../img/arrow-hide.png');
}
