.navbar {
  padding: 10px;
  margin: 0 auto;

  .fa-question {
    color: #FBBC05;
  }

  .navbar-header .logo-wrapper {
    position: absolute;
    left: 50%;
    margin-top: -30px;
    line-height: 71px;
    @media (max-width: $screen-sm-max) {
      margin-left: -30px;
    }

    .navbar-logo {
      display: inline;
      max-width: 150px;
      margin-left: -95px;
      vertical-align: middle;

      @media (max-width: $screen-sm-max) {
        max-width: 150px;
        margin-left: -100px;
      }
    }
    .navbar-logo-desc {
      display: inline;
      margin: 22px 10px;
      max-width: 55px;
      @media (max-width: $screen-sm-max) {
        max-width: 50px;
        margin-left: 0px;
      }
    }


  }

  .navbar-brand .fa-2x {
    line-height: 20px ;
  }

  .avatar {
    border-radius: 50px;
    margin-top: 4px;
    height: 45px;
    width: 45px;
    background-image: url("../img/avatar.jpg");
    background-size: contain;
  }
}
