.navbar {
  //padding: 10px;
  margin: 0 auto;
  vertical-align: middle;
  line-height: 70px;
  //min-height: 70px;
  @media (min-width: $screen-sm-max) {
    height: 70px;
  }

  .fa-question {
    color: #FBBC05;
  }

  .flag-wrapper {
    display: inline-block;
    line-height: 70px;
    img {
      width: 30px;
    }
  }

  .navbar-header .logo-wrapper {
    position: absolute;
    left: 50%;
    margin-top: -90px;
    line-height: 70px;
    @media (max-width: $screen-sm-max) {
      margin-left: -30px;
    }

    .navbar-logo {
      display: inline;
      max-width: 150px;
      margin-left: -95px;
      vertical-align: middle;

      @media (max-width: $screen-sm-max) {
        max-width: 150px;
        margin-left: -100px;
      }
    }
    .navbar-logo-desc {
      display: inline;
      margin: 22px 10px;
      max-width: 55px;
      @media (max-width: $screen-sm-max) {
        max-width: 50px;
        margin-left: 0px;
      }
    }


  }

  .navbar-brand .fa-2x {
    //line-height: 70px ;
  }

  .avatar {
    border-radius: 50px;
    margin: 12px 20px 12px 12px;
    height: 45px;
    width: 45px;
    background-image: url("../img/avatar.jpg");
    background-size: contain;
  }

}

.navbar-header {
  line-height: 70px;
  vertical-align: middle;
}

.right-nav {
  @media (min-width: $screen-sm-max) {
    height: 70px;
    line-height: 70px;
  }

  .r-menu {
    margin: 0;

    li {
      display: inline-block;

      img {
        width: 30px;
      }
    }
  }
  .avatar {

  }
}
