.navbar {
  padding: 10px;
  margin: 0 auto;

  .navbar-header .logo-wrapper {
    position: absolute;
    left: 50%;

    margin-top: -30px;
    line-height: 71px;

    .navbar-logo {
      display: inline;
      max-width: 250px;
      margin-left: -125px;
      vertical-align: middle;

      @media (max-width: $screen-sm-max) {
        max-width: 150px;
        margin-left: -75px;
      }
    }


  }

  .navbar-brand .fa-2x {
    line-height: 20px ;
  }

  .avatar {
    border-radius: 50px;
    margin-top: 4px;
    height: 45px;
    width: 45px;
    background-image: url("../img/avatar.jpg");
    background-size: contain;
  }
}
