/* ==|====================
   Layout/Header
   ======================= */

.l-header {
  @media (max-width: $screen-sm-min) {
    padding: 0 !important;

    .both-wrapper {
        padding: 0 !important;

      .m-details-wrapper {
          padding: 0 !important;
          margin-top: 0;
      }
      .m-header-category-wrapper {
          padding: 0 !important;
          margin-top: 0;
        .e-category-line {
            margin-top: 0;
        }
      }
    }
  }
}
