.l-header {
  // position: relative;
  min-height: 400px;
  background-attachment: fixed;
  background-image: url("../img/orange-min.jpg");
  background-size: cover;
  // background-position: 50% 50%;
  padding: 40px;
  margin-top: 70px;
  // z-index: 3;
  overflow: hidden;

  .both-wrapper {
    position: relative;
    // z-index: 1;
  }
}
//
//@media (max-width: $screen-sm-max) {
//  .l-header {
//    overflow: none;
//  }
//  .both-wrapper {
//    position: static;
//  }
//}
