/* ===========================
   Base
   =========================== */

body {
}

a {
}

.fa {
  color: #444;
}

.fa-question {
  color: #E77E00;
}

.btn {
  border-radius: 0px;
  background-color: $white;

  &:hover {
    background-color: #DBE2EF;
  }
}

.btn:focus {
  outline: none !important;
}

.form-control {

}

.page-header {
  margin: 0;
  border: none;
}

textarea {
//    height: 100%;
    border-radius: 0px !important;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.nopaddingright {
  padding-right: 0 !important;
}

.nopaddingleft {
  padding-left: 0 !important;
}

.btn-full-width {
  width: 100%;
}

textarea {
}

.form-group {
  border: none;
}

.openMap, .toSend {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #FF9A00;
  right: 5%;

  &:hover {
    background-color: #FD7014;
    border: 1px solid #999;

  }
  .fa {
    color: #fff;
  }
}

.openMap {
  bottom: 40px;
}

.toSend {
  bottom: 110px;
  .fa {
    margin-right: 3px;
  }
}


.image-preview-input {
  position: relative;
	overflow: hidden;
	margin: 0px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
  margin-left:2px;
}

.image-preview .popover {
  left: 15px !important;
}
