/* ===========================
   Base
   =========================== */

.fa {
    color: #444;
}
.fa-question {
    color: #e77e00;
}
.btn {
    border-radius: 0;
    background-color: $white;
}
.btn:focus {
    outline: none !important;
}
.page-header {
    margin: 0;
    border: none;
}
textarea {
    border-radius: 0 !important;
}
.nopadding {
    margin: 0 !important;
    padding: 0 !important;
}
.nopaddingright {
    padding-right: 0 !important;
}
.nopaddingleft {
    padding-left: 0 !important;
}
.btn-full-width {
    width: 100%;
}
.form-group {
    border: none;
}
.openMap,
.toSend {
    position: fixed;
    bottom: 20px;
    display: flex;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #ff9a00;
    align-items: center;
    justify-content: center;
    &:hover {
        border: 1px solid #999;
        background-color: #fd7014;
    }
    .fa {
        color: #fff;
    }
}
.openMap {
    right: 20px;
}
.toSend {
    right: 80px;
    visibility: hidden;
}
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0;
    color: #333;
    border-color: #ccc;
    background-color: #fff;
}
.image-preview-input input[type=file] {
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left: 2px;
}
.image-preview .popover {
    left: 15px !important;
}
.helps {
    position: relative;
}

/* Underline From Center */
.border-green {
  box-sizing: border-box;
  border-bottom: 5px solid #626F59 !important;
}
