$btn-border-color: #ccc;
$btn-border-color-active: #aaa;
$orange: #EE8903;
$green: #626F59;
$white: #FFF;
$grey: #F8F8F8;

// Defining values
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);
